<script type="text/javascript">            
                var fxcalendar_config = {
                      host: "http://calendar.fxstreet.com",
                      eventurl: "./main_en-us.aspx", // your main calendar page
                      culture: "en-us" // culture
                                  };
                                  console.log('loading...');
        </script>
        <script type="text/javascript" src="http://calendar.fxstreet.com/scripts/mini"></script>
        <div id="fxst_calendar" style="width: 100%; margin-bottom: 15px"></div>


