.posts-wrapper.col-md-4.col-md-offset-4
  %h2.text-center Scan a stock
  %br
  .post
    .post-body
      = simple_form_for @scan, id: 'scan-form' do |f|
        .row
          .col-md-12.text-center
            = f.error_notification
          .container-fluid
            .form-group.text-center
              = f.input :stock, label: false, placeholder: 'Must enter a ticker symbol', class: 'stock-input'
            .form-group.text-center
              = f.button :submit, class: 'btn-success btn-block'

