.row.list
	.col-xs-2.col-md-1.first-block
		%p Time Ago
	.col-xs-2.col-md-1
		%p Name
	.col-xs-2.col-md-1
		%p Ticker
	.col-xs-2.col-md-1
		%p Ask
	.col-xs-2.col-md-1
		%p Day Change
	.col-xs-2.col-md-1
		%p Book Value
	.col-xs-2.col-md-1.ptb
		%p Price to Book
	.col-xs-2.col-md-1
		%p EPS
	.col-xs-2.col-md-1
		%p Next Q EPS Est.
	.col-xs-2.col-md-1
		%p EBITDA
	.col-xs-2.col-md-1
		%p Market Cap
	.col-xs-2.col-md-1
		%p Average Daily Vol
	

-@scans.each do |scan|
	= render 'scan', scan: scan

= will_paginate @posts, class: 'pagination'