/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1026px) { @content; }
  }
  @else if $point == s {
    @media (max-width: 1025px) { @content; }
  }
}
.main{
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: transform .5s ease-in-out;
  -moz-transition: transform .5s ease-in-out;
  -ms-transition: transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;

}
.portrait{
  zoom: 0.8;
}
.active-elm{
  position:fixed;
}
.scans{
  @include breakpoint(s) {
   margin-top: 40px;
  }
}
#flash {
  visibility: hidden;
}
.list {
  position:relative;

  &:first-child{
    margin-top: 10px;
  }
  @include breakpoint(xl) {
      &:last-child{
      margin-bottom: 20px;
      border-bottom: 1px solid #aaa;
      }
  }
  @include breakpoint(s) {
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
  }
  &:nth-child(15){
    border-bottom: 1px solid #aaa;
  }
	.col-md-1 {
		height: 50px;
    border-top:1px solid #aaa;
		border-right: 1px solid #aaa;
		overflow: hidden;
	}
	.first-block {
		border-left: 1px solid #aaa;
	}

	p {
		margin-left:-10px;
	}

}
.city-name{
  @include breakpoint(s) {
    font-size:14px;
  }

}
.nav-push{
    @include breakpoint(xl) {
      visibility: hidden;
    }
    @include breakpoint(s) {
    visibility: visible;
    position: relative;
    float: right;
    margin-right: 25px;
    padding: 9px 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    .icon-bar{
      display: block;
      height: 2px;
      width: 20px;
      background-color: #888;
      &:nth-child(2){
        margin-bottom: 4px;
      }
      &:last-child{
        margin-top: 4px;
      }
    }
  }
}
.navbar-container{
  margin-bottom: -15px;
}
.pushmenu {
  @include breakpoint(s) {
  height: 300%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  background-color: #F8F8F8;

  }
}
.move-to-right {
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
}

.pushmenu-left { left: -400px; }

.pushmenu-push {
  position: relative;
  left: 0;
}

.pushmenu, .pushmenu-push {
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;

}
.pushed{
  @include breakpoint(xl) {
      visibility: hidden;
    }
    @include breakpoint(s) {
    visibility: visible;
    position: absolute;
    right: 0px;
    margin-right: 8px;
    padding: 9px 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    .icon-bar{
      display: block;
      height: 2px;
      width: 20px;
      background-color: #888;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      &:nth-child(2){
        margin-bottom: 4px;
      }
      &:last-child{
        margin-top: 4px;
      }
    }
  }
}
.active-push .top {
  -webkit-transform: translateY(6px) rotateZ(45deg);
  -moz-transform: translateY(6px) rotateZ(45deg);
  -ms-transform: translateY(6px) rotateZ(45deg);
  -o-transform: translateY(6px) rotateZ(45deg);
  transform: translateY(6px) rotateZ(45deg);
  width: 25px;
}

.active-push .bottom {
  -webkit-transform: translateY(0px) rotateZ(-45deg);
  -moz-transform: translateY(0px) rotateZ(-45deg);
  -ms-transform: translateY(0px) rotateZ(-45deg);
  -o-transform: translateY(0px) rotateZ(-45deg);
  transform: translateY(0px) rotateZ(-45deg);
  width: 25px;
}

.active-elm > .navbar > .pushmenu > .navbar-nav > li{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  text-align: center;
  font-size: 22px;
  margin-top: 25px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &:first-child{
    margin-top: 40px;
  }
}
.selector {
	padding-left: 25px;
	color: #999;
  position: absolute;
	
	&:hover {
		cursor: pointer;
		text-decoration: underline;
		color: #428bca;
	}
   @include breakpoint(xl) {
   float:right;
   top: 33px;
   right: -65px;
  }
  @include breakpoint(s) {
   float:right;
   top: 105px;
   right: 0px;
  }
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
	text-align:center;

  	li {
		margin-bottom: 0;
		position: initial;
		float:none;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */
	}
  @include breakpoint(s) {
   font-size: 20px;
  }
}

.nav-tabs > li.active {
   margin-bottom: -2px;
   border-bottom: 2px solid #428bca;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
  outline: 0;
  background-color: transparent;
}

.nav-tabs > li > a {
  border: none;
  color: #999;
  margin: 0;
}

.nav-tabs > li.active > a {
  border: none;
  color: #428bca !important;
  background: transparent;
}

.nav-tabs > li > a:hover {
  background: transparent;
}

.tab-content {
  padding: 20px;
}

#magic-line {
  visibility: hidden;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #428bca;
}

.pagination {
  float: right;
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em; 
}
.pagination .disabled {
  color: #ddd; 
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #428bca; 
}
.pagination a {
  border-radius: 10%;
  border: 1px solid #dddddd;
  color: #999;
  text-decoration: none; 
}
.pagination a:hover, .pagination a:focus {
  background: transparent;
  border-color: #428bca;
  color: #428bca;
}
.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; 
}
.pagination .previous_page, .pagination .next_page {
  border-width: 1px; 
}
.pagination .previous_page {
  margin-right: 1em; 
}
.pagination .next_page {
  margin-left: 1em; 
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(66, 139, 202, 0.6);
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1;
  display: none;

  &:hover {
    background: rgb(66, 139, 202);
  }
  i {
    @include breakpoint(xl) {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
    @include breakpoint(s) {
      width: 45px;
      height: 45px;
      line-height: 45px;
    }
  }
}
.ptb{
  @include breakpoint(s) {
   border-left: 1px solid #aaa;
  }
}

.weather-data > .col-xs-1{
  overflow:hidden;
}