/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1021px) { @content; }
  }
  @else if $point == s {
    @media (max-width: 1020px) { @content; }
  }
}

.scans{
  @include breakpoint(s) {
   margin-top: 40px;
  }
}
#flash {
  visibility: hidden;
}
.list {
  position:relative;

  &:first-child{
    margin-top: 10px;
  }
  @include breakpoint(xl) {
      &:last-child{
      margin-bottom: 20px;
      border-bottom: 1px solid #aaa;
      }
  }
  @include breakpoint(s) {
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
  }
	.col-md-1 {
		height: 50px;
    border-top:1px solid #aaa;
		border-right: 1px solid #aaa;
		overflow: hidden;
	}
	.first-block {
		border-left: 1px solid #aaa;
	}

	p {
		margin-left:-10px;
	}

}
.city-name{
  @include breakpoint(s) {
    font-size:14px;
  }

}
.selector {
	padding-left: 25px;
	color: #999;
  position: absolute;
	
	&:hover {
		cursor: pointer;
		text-decoration: underline;
		color: #428bca;
	}
   @include breakpoint(xl) {
   float:right;
   top: 33px;
   right: -65px;
  }
  @include breakpoint(s) {
   float:right;
   top: 105px;
   right: 0px;
  }
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
	text-align:center;

  	li {
		margin-bottom: 0;
		position: initial;
		float:none;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */
	}
  @include breakpoint(s) {
   font-size: 20px;
  }
}



.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
  outline: 0;
  background-color: transparent;
}

.nav-tabs > li > a {
  border: none;
  color: #999;
  margin: 0;
}

.nav-tabs > li.active > a {
  border: none;
  color: #428bca !important;
  background: transparent;
}

.nav-tabs > li > a:hover {
  background: transparent;
}

.tab-content {
  padding: 20px;
}

#magic-line {
  visibility: hidden;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #428bca;
}

.pagination {
  float: right;
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em; 
}
.pagination .disabled {
  color: #ddd; 
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #428bca; 
}
.pagination a {
  border-radius: 10%;
  border: 1px solid #dddddd;
  color: #999;
  text-decoration: none; 
}
.pagination a:hover, .pagination a:focus {
  background: transparent;
  border-color: #428bca;
  color: #428bca;
}
.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; 
}
.pagination .previous_page, .pagination .next_page {
  border-width: 1px; 
}
.pagination .previous_page {
  margin-right: 1em; 
}
.pagination .next_page {
  margin-left: 1em; 
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(66, 139, 202, 0.6);
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1;
  display: none;

  &:hover {
    background: rgb(66, 139, 202);
  }
  i {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
.ptb{
  @include breakpoint(s) {
   border-left: 1px solid #aaa;
  }
}
.notie-transition {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.notie-background-success {
  background-color: #5cb85c; }

.notie-background-warning {
  background-color: #D6A14D; }

.notie-background-error {
  background-color: #d9534f; }

.notie-background-info {
  background-color: #5bc0de; }

#notie-alert-outer, #notie-confirm-outer, #notie-input-outer, #notie-select-outer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  height: auto;
  width: 100%;
  display: none;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
  @media (max-width: 600px) {
    #notie-alert-outer, #notie-confirm-outer, #notie-input-outer, #notie-select-outer {
      font-size: 18px; 
      }  
  }

#notie-alert-inner {
  padding: 20px;
  display: table-cell; }

#notie-alert-content {
  max-width: 900px;
  margin: 0 auto; }

#notie-alert-text {
  color: #FFFFFF; }

#notie-confirm-outer {
  cursor: default; }

#notie-confirm-inner, #notie-input-inner, #notie-select-inner {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: block;
  cursor: default;
  background-color: #428bca; }

#notie-confirm-text {
  color: #FFFFFF; }

#notie-confirm-text-yes {
  color: #FFFFFF; }

#notie-confirm-text-no {
  color: #FFFFFF; }

#notie-confirm-yes, #notie-confirm-no, #notie-input-no, #notie-input-yes {
  float: left;
  height: 50px;
  line-height: 50px;
  width: 50%;
  cursor: pointer;
  background-color: #5cb85c; }

#notie-confirm-no, #notie-input-no {
  float: right;
  background-color: #d9534f; }

#notie-confirm-background, #notie-input-background, #notie-select-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999980;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #FFFFFF;
  opacity: 0; }

/* INPUT */
#notie-input-outer {
  cursor: default; }

#notie-input-field {
  display: block;
  box-sizing: border-box;
  height: 55px;
  width: 100%;
  text-align: center;
  outline: 0;
  border: 0;
  background-color: #FFFFFF;
  font-family: inherit;
  font-size: 24px; }
  @media (max-width: 600px) {
    #notie-input-field {
      font-size: 18px; } 
      }

#notie-input-text {
  color: #FFFFFF; }

#notie-input-text-yes {
  color: #FFFFFF; }

#notie-input-text-no {
  color: #FFFFFF; }

#notie-select-outer {
  top: auto;
  bottom: 0;
  cursor: default; }

#notie-select-text {
  color: #FFFFFF; }

#notie-select-choices, .notie-select-choice {
  background-color: #57BF57; }

.notie-select-choice {
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  cursor: pointer; }

#notie-select-cancel {
  height: 60px;
  line-height: 60px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #A0A0A0; }
.weather-data > .col-xs-1{
  overflow:hidden;
}